<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713962095719-1jtlict10kdksk1e1kddakupmtj3a394.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713962095719-1jtlict10kdksk1e1kddakupmtj3a394</string>
	<key>API_KEY</key>
	<string>AIzaSyAWiFm1E_VRtrLmnIkSHQ6r0qtDE72sbA0</string>
	<key>GCM_SENDER_ID</key>
	<string>713962095719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oyku.deneme</string>
	<key>PROJECT_ID</key>
	<string>master-number</string>
	<key>STORAGE_BUCKET</key>
	<string>master-number.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713962095719:ios:ad4377719c64e1afde00c2</string>
</dict>
</plist>